<p class='big-font'>Login</p>
<%= form_tag sessions_path do |form| %>
  <div class="field big-font">
    <%= label_tag :username %>
    <%= text_field_tag :username, nil, class: 'bigger-box big-font' %>
  </div>  
  <div class="actions">
    <%= submit_tag "Login", class: 'big-font' %>
  </div>
<% end %>
<br />
<%= link_to 'Sign Up', signup_path, class:'big-font' %>