<div class="d-flex">
  <div class="d-flex flex-column text-center justify-content-center">	
    <h2>Sign Up</h2>
    
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="field">
        <%= f.input :email, autofocus: true, autocomplete: "email", placeholder:'Email', label: false, required: true, wrapper: false %>
      </div>

      <div class="field">
        <%= f.input :username, autocomplete: "username", placeholder:'Username', label: false, required: true, wrapper: false %>
      </div>

      <div class="field">
        <%= f.input :password, autocomplete: "new-password", placeholder:'Password', label: false, required: true, wrapper: false %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.input :password_confirmation, autocomplete: "new-password", placeholder:'password confirmation', label: false, required: true, wrapper: false %>
      </div>

      <div class="actions">
        <%= f.button :submit, "Sign up", class:'btn-primary' %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  
  </div>
</div>
