<div class='d-flex flex-column text-center'>
  <strong>Name: <%= @group.name %></strong>
  <strong>Icon: <%= group_icon(@group) %></strong>  
  <h2>Time Blocks</h2>
  <div class='d-flex justify-content-between w-100'>
      <strong>Total Amount:</strong><strong><%= @time_blocks.sum("amount")%>H</strong>
  </div>
  <% @time_blocks.each do |block| %>
    <%= link_to block, class:'d-flex justify-content-between list-item mb-1 pt-1' do%>
      <div class='d-flex flex-column justify-content-between'>
        <div class='d-flex justify-content-between flex-wrap'>
          <div><%= block.name %></div>
          <div><%= block.author.username %></div>
        </div>
        <div class="grey"><%= block.created_at.strftime("%e %b %Y") %></div>
      </div>
      <div><%= block.amount %>H</div>
    <% end %>
  <% end %>

  <%= link_to 'Edit', edit_group_path(@group), class:'btn mb-2' %>
  <%= link_to 'Back', groups_path, class:'btn mb-2' %>
</div>
