<div class="d-flex">
  <div class="d-flex flex-column text-center justify-content-center">
    <h2>Log in</h2>
    <div class="d-flex justify-content-center">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.input :login, label:'Login with your Email or Username', wrapper: false %>
        </div>

        <div class="field">
          <%= f.input :password, autocomplete: "current-password", wrapper: false %>
        </div>

        <div class="field">
          <%= f.input :remember_me, class:'d-flex', as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="actions">
          <%= f.button :submit, "Log in", class:'btn-primary' %>
        </div>
      <% end %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>
