
<h2>Log in</h2>
<%# <div class="d-flex  align-items-center"> %>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.input :login, placeholder:'Login with your Email or Username', label:false, wrapper: false %>
    </div>

    <div class="field">
      <%= f.input :password, placeholder:'password', label:false, autocomplete: "current-password", wrapper: false %>
    </div>

    <div class="field">
      <%= f.input :remember_me, class:'d-flex', as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="actions">
      <%= f.button :submit, "Log in", class:'btn-primary' %>
    </div>
  <% end %>
<%# </div> %>
<%= render "devise/shared/links" %>
    
