<div class='d-flex flex-column'>
  <h1 class='bg-gradient-blue white p-2 text-center'>Time Blocks</h1>
  <div class='d-flex justify-content-between w-100'>
    <strong>Total Amount:</strong><strong><%= @time_blocks.sum("amount")%>H</strong>
  </div>

  <% @time_blocks.each do |block| %>
    <%= link_to block, class:'d-flex justify-content-between list-item mb-1 pt-1' do%>
      <div class='d-flex flex-column justify-content-between'>
        <div class='d-flex'>
          <div><%= main_group_icon(block) %></div>
          <div><%= block.name %></div>
        </div>
        <div class="grey"><%= block.created_at.strftime("%e %b %Y") %></div>
      </div>
      <div><%= block.amount %>H</div>
    <% end %>
  <% end %>

  <%= link_to 'New Time Block', new_time_block_path, class:'btn p-1' %>
</div>
