<!DOCTYPE html>
<html>
  <head>
    <title>ReadingHour</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class='m-0'>
    <p id="alert" class=<%=alert_notice%> ><%= alert %></p>
    <p id="notice" class=<%=alert_notice%> ><%= notice %></p>
    <div class="container">
      <%= yield %>
      <%= logged_in_nav %>
    </div>
  </body>
</html>
